main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 80px;
}

.div_table {
    width: 600px;
    text-align: center;
    margin: auto;
}

#tabela_campanhas {
    width: 600px;
}

#tabela_usuario_campanhas {
    width: 306px;
}

#tabela_usuarios {
    width: 600px;
}

#table {
    text-align: center;
    width: 100%;
}

#table>tr>td {
    overflow: hidden;
}