main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 80px;
}

form {
    width: 500px;
}

#novo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.botoes_link_inicio {
    margin: 8px;
    width: 200px;
}

